.topHeader {
	background: rgba(192, 196, 195, .6);
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 999;
	position: relative;
}

.headerBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	font-size: 34px;
	text-transform: uppercase;
	color: #f2394a;
	font-family:$play;
	span {
		font-weight: bold;
		color: #3c3c3c;
	}
	&:hover {
		text-decoration: none;
		color: #f2394a;
	}
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.menu-item {
	margin-right: 35px;
	font-size: 18px;
	color: #3c3c3c;
	&:last-child {
		margin-right: 0;
	}
}

.menu-link {
	color: #3c3c3c;	
	&:hover {
		color: #3c3c3c;
	}
}

.social-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.social-link {
	color: #3c3c3c;
	font-size: 18px;
	padding-right: 25px;
	&:hover {
	color: #3c3c3c;
	}
}

// SLIDER

.slider {
	background-size: cover;
	z-index: 1;
	position: relative;
}

.slider-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 780px;
	margin-top: -89px;
}

.title-slider {
	color: #f2e9ec;
	font-size: 90px;
	font-family: $raleway;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		font-family: $play;
		font-size: 80px;
		background: #fff;
		padding: 10px;
		border-radius: 10px;
		color: #3c3c3c;
		font-weight: bold;
		display: block;
		margin-right: 10px;
	}
}

// Main content

.content {
	@include row-flex();
	justify-content: center;
}

.main-content {
	@include col();
	@include size(9);
	padding-left: 30px;
	padding-right: 30px;
}

.sidebar {
	@include size(3);
	border: 1px solid green;
}

.blog-item {
	background-size: cover;
}

.blog-double {
	padding-bottom: 50px;
	padding-left: 125px;
	padding-right: 125px;
	min-height: 502px;
	@include lg-block {
		padding-left: 90px;
		padding-right: 90px;
	}
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.tag-link {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.create-date {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.article-title {
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 22px;
}

.article-description {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	margin-top: 28px;
}

.read-more {
	text-decoration: none;
	font-family: $raleway;
	font-weight: bold;
	color: #fff;
	background: rgba(255, 255, 255, 0.3);
	padding: 14px 22px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 30px;
	border-radius: 26px;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

.marker-new {
	position: absolute;
	border: 2px solid #fff;
	background: #61b2bc;
	color: #fff;
	font-size: 13px;
	padding: 5px 27px;
	line-height: 13px;
	border-radius: 14px;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	top: 20px;
	left: 20px;
}